<table class="table table-dark">

    <tr>
        <th colspan="6">Instructor</th>
    </tr>

    <tr>
        <td>Name</td>
        <td>Rank</td>
        <td>Hiring Date</td>
        <td>Is Tenured</td>
        <td>Details</td>
        <td>Update Details</td>


    </tr>

    <div class="text-align: center;">

        <a class="button" style="background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;"
           asp-action="AddInstructor">
            Enter an Instructor

        </a>

    </div>

    @foreach (var instructor in Model)
    {
        <tr>
            <td>@instructor.FirstName @instructor.LastName</td>
            <td>@instructor.Rank</td>
            <td>@instructor.HiringDate</td>
            <td>@instructor.IsTenured</td>
            <td><a asp-action="ShowDetail" asp-route-id="@instructor.Id" class="btn btn-primary">Show Details</a></td>
            <td><a asp-action="UpdateInstructor" asp-route-id="@instructor.Id" class="btn btn-primary">Update Details</a></td>


        </tr>

    }

</table>